@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  padding: none;
  margin: none;
}
html, body {
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html, body {
  scrollbar-width: none;
}

/* Hide scrollbar for Internet Explorer */
html, body {
  -ms-overflow-style: none;
}

html, body, #root {
  height: 100%;
  margin: 0;
}